{% extends "blog/base.html" %}
{% block content %} <!--debut override du content block-->


<h1>All Subtasks list !</h1><br><br>

    {% for subtask in subtasks %}
    
        <p class="article-content"><b>Task :</b><pre>- {{ subtask.name }}</pre></p>
        <p class="article-content"><b>Status :</b><pre> {{ subtask.status }}</pre></p>

        <a class="btn btn-danger btn-sm mt-1 mb-1"  href="{% url 'subtask-delete' subtask.id %}">Delete</a>

        <br><br><br><br>
    {% endfor %}






{% endblock content %}  <!--fin override du content block-->
